<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #702CF5; color: white;">
    <div class="container bg-dark text-white p-4 rounded mt-5">
        <h1>Welcome to the MoviePedia a community-driven platform</h1>
        <p>Welcome to MoviePedia, your ultimate movie tracking and database app! With MoviePedia, you can effortlessly keep track of all the movies you've watched, discover new films, and collaborate with other users to enhance movie descriptions. Here's what MoviePedia offers: Movie Tracker: Easily create a list of watched movies. Add title, director, genre, release year, and rating.

            Movie Database: Explore a curated database. Discover new releases, classics, and hidden gems. Get plot summaries, cast details.
            
            Collaborative Updates: Help improve movie descriptions submitted by users. Enhance accuracy and detail for better data.
            </p>
        <p>Feel free to explore!</p>

        <p>Click on the link below to get started.</p>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Continue</a>
    </div>
    {% load static %}
    <div class="text-center">
        <img src="{% static 'movies/img/MOVIEPEDIA.jpg' %}" class="img-fluid p-8 mt-4 mx-auto" alt="moviepedia">
    </div>
    
</body>
</html>
